<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <!--li>
        <a href="/about">About</a>
      </li-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="mailto:zach.puller@gmail.com"><span class="fa fa-envelope"></span></a>
      </li>
      <li class="navbar-right">
        <a href="https://www.linkedin.com/in/zach-puller-443982a5/"><span class="fa fa-linkedin"></span></a>
      </li>
      <li class="navbar-right">
        <a href="https://github.com/zpuller"><span class="fa fa-github"></span></a>
      </li>
    </ul>
  </div>
</nav>
