<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="text-left"> 
  <div class="container">
    <h1>Zach Puller</h1>
    <p>Hailing from Coral Springs, FL, Zach came to Northwestern University in Evanston, IL, to complete his studies in Economics and Music. Since graduating in 2013, Zach has followed his interests around the world. After working for a year in the derivatives trading industry in Philadelphia, Zach developed his career in finance into a passion for technology, teaching himself the essentials of software development, and moved to Amsterdam to work for another derivatives trading firm, this time on the tech side.</p>
    <p>For Zach, technology remains a focus point for the future.</p>
  </div>
</div>

</body>
</html>

<video id="bgvid" playsinline autoplay muted loop>
  <source src="http://thenewcode.com/assets/videos/lake.webm" type="video/webm">
  <source src="http://thenewcode.com/assets/videos/lake.mp4" type="video/mp4">
  </video>
