<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color:#532F8C">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Zach Puller</h1>
    <p>Coming soon!</p>
  </div>
</div>
</div>


</body>
</html>
